<!DOCTYPE html>
<html lang="en" ng-app="productListApp">
    <head>
        <title>Leisure</title>
        <link type="text/css" rel="stylesheet" href="/allure/css/bootstrap/bootstrap.css">
        <link type="text/less" rel="stylesheet" href="/allure/css/page/productList.less">
        <script type="text/javascript" src="/allure/js/less/less.min.js"></script>
        <script type="text/javascript" src="/allure/js/lib/angularjs/angular.js"></script>
        <script type="text/javascript" src="/allure/js/lib/angularjs-route/angularjs-route.js"></script>
        <script type="text/javascript" src="/allure/js/lib/angularjs-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/allure/js/app/productList/main.js"></script>
    </head>
    <body>
        <!-- nav start  -->
        <div class="al-nav-wrap navbar-fixed-top">
            <div class="al-nav-area">
                <div class="al-nav-info">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid navbar-right">
                        <div class="collapse navbar-collapse">
                          <ul class="nav navbar-nav">
                            <li><a href="#">My Projects</a></li>
                            <li><a href="#">Trade</a></li>
                            <li><a href="#">Login</a></li>
                            <li class="shopcar">
                                <a href="#">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span class="number">0</span>
                                </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- nav end -->

        <!-- logo start -->
        <div class="al-logo-wrap">
            <div class="al-logo-area">
                <div class="al-logo-info">
                    <img src="/allure/imgs/logo_icon.jpg" width="421" height="51"/>
                </div>
            </div>
        </div>
        <!-- log end -->

        <!-- menu start-->
        <div class="al-menu-wrap">
            <div class="al-menu-area">
                <div class="al-menu-info">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                          <ul class="menu-ul-list nav navbar-nav">
                            <li>
                                <a href="#">FURNISHINGS</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/categories/desks">Desks</a></li>
                                    <li><a href="/categories/desks">Seating</a></li>
                                    <li><a href="/categories/desks">Tables</a></li>
                                    <li><a href="/categories/desks">Lighting</a></li>
                                    <li><a href="/categories/desks">Tables</a></li>
                                    <li><a href="/categories/desks">Casegoods</a></li>
                                    <li><a href="/categories/desks">Soft Goods</a></li>
                                </ul>
                            </li>
                            <li><a href="#">LEISURE</a></li>
                            <li>
                                <a href="#">GIFTS</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/gifts">Give a Gift</a></li>
                                    <li><a href="/gifted">Redeem a Gift</a></li>
                                    <li><a href="/categories/gifts">View Gifts</a></li>
                                    <li><a href="/neiman_marcus">Fantasy Gift 2013</a></li>
                                </ul>
                            </li>
                            <li><a href="#">ARTISTS</a></li>
                            <li><a href="#">VIDEO</a></li>
                            <li><a href="#">PRESS</a></li>
                            <li>
                                <a href="#">COMPANY</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/gifts">Give a Gift</a></li>
                                    <li><a href="/gifted">Redeem a Gift</a></li>
                                    <li><a href="/categories/gifts">View Gifts</a></li>
                                    <li><a href="/neiman_marcus">Fantasy Gift 2013</a></li>
                                </ul>
                            </li>
                            <li class="search">
                                <input type="text" class="form-control" placeholder="Search"/>
                                <button type="submit" class="glyphicon glyphicon-search"></button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- menu end -->

        <!-- leisure start-->
        	<div class="al-leisure-wrap">
        		<div class="al-leisure-area">
        			<div class="al-leisure-info">
        				
        				<div class="list-left">
        					<div class="box">
        						<div class="type-text">
        							<input type="text" placeholder="Search within leis"/>
        							<button type="submit" class="glyphicon glyphicon-search"></button>
        						</div>
        					</div>

        					<div class="box category">
        						<div class="title">
        							SELECT CATEGORY
        						</div>
        						<ul>
        							<li><a href="#">LEISURE</a></li>
									<li><a href="#">DESKS</a></li>
									<li><a href="#">SEATING</a></li>
									<li><a href="#">TABLES</a></li>
									<li><a href="#">LIGHTING</a></li>
									<li><a href="#">CASEGOODS</a></li>
									<li><a href="#">RUGS</a></li>
									<li><a href="#">ACCESSORIES</a></li>
									<li><a href="#">TEXTILES</a></li>
									<li><a href="#">WALLCOVERINGS</a></li>
									<li><a href="#">SOFT GOODS</a></li>
									<li><a href="#">BEDS</a></li>
        						</ul>
        					</div>

        					<div class="box price">
        						<div class="title">SELECT PRICE</div>
        						<ul>
        							<li>
        								<span><input type="checkbox"/></span>
        								<span>$0 - $150</span>
        							</li>
									<li>
										<span><input type="checkbox"/></span>
        								<span>$150 - $300</span>
									</li>
									<li>
										<span><input type="checkbox"/></span>
        								<span>$300 - $500</span>
									</li>
									<li>
										<span><input type="checkbox"/></span>
        								<span>$500 - $1000</span>
									</li>
									<li>
										<span><input type="checkbox"/></span>
        								<span>$1000 - $1500</span>
									</li>
        						</ul>
        					</div>
        				</div>
        				<div class="list-right">
        					<div class="box">
								<div class="big-pic">
									<img src="/allure/imgs/Leisure_main.jpg"/>
									<div class="text"><span>LEISURE</span></div>
								</div>
								<div class="intro">
									Specializing in custom commissions, all leisure goods selected have bespoke options. The selection ranges from footballs, canoe paddles, kayaks, fly fishing, falconry and bikes, to backgammon, chess, bridge, foosball, ping pong and billiards. This unique collection showcases exceptional craftsmanship in exotic leathers and superior materials including mother of pearl, horsehair, wood, pewter and stained glass. Artisan crafted. Completely customizable. Just for you.
								</div>				
        					</div>

        					<div class="box list" ng-controller="ListController">
        						<div class="paging">
                                    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" direction-links="false"></pagination>
                                </div>

                                <div class="display-products">
                                    <ul>
                                        <li ng-repeat="item in details">
                                        <a href="#">
                                            <div class="img"><img src="{{ item.imgUrl }}"/></div>
                                            <div class="text">
                                                <div class="name">{{ item.name }}</div>
                                                <div class="price">{{ item.price }}</div>
                                            </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        <!-- leisure end-->

        <!-- footer start-->
        <div class="al-footer-wrap">
            <div class="al-footer-area">
                <div class="al-footer-info">
                    <div class="under-line"></div>
                    <div class="footer-list">
                        <div class="box one">
                            <div class="title">ABOUT US</div>
                            <ul>
                                <li><a href="#">COMPANY INFO</a></li>
                                <li><a href="#">TERMS & CONDITIONS</a></li>
                                <li><a href="#">PRIVACY POLICY</a></li>
                                <li><a href="#">SALES POLICY</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </div>
                        <div class="box two">
                            <div class="title">SIGN UP FOR NEWSLETTER</div>
                            <div class="btn">
                                <input type="text" class="form-control" placeholder="Please enter your email"/>
                                <input type="button" value="Go"/>
                            </div>
                        </div>
                        <div class="box three">
                            <div class="title">SHARE</div>
                            <ul>
                                <li><a href="#" class="o1"></a></li>
                                <li><a href="#" class="o2"></a></li>
                                <li><a href="#" class="o3"></a></li>
                            </ul>
                        </div>
                        <div class="box four">
                            <div class="title">LET US HELP YOU</div>
                            <div>
                                <a href="#">BECKANDCALL@BESPOKEGLOBAL.COM (+1) 212.537.0112</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end-->
    </body>
</html>